import React from 'react';

const {{ pascalCase nome }} = () => {

    return(
        <div className="{{snakeCase nome}}-component">

        </div>
    )
}

export default {{ pascalCase nome }};